@import url(assets/fonts/Roboto-Bold.ttf);
@import url(assets/fonts/Roboto-Regular.ttf);

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: hsl(235, 18%, 26%);
}

@media screen {
    #thanks {
        width: 350px;
        height: 350px;

        display: flex;
        flex-direction: column;
        justify-content: center;

        background-color: white;
        border-radius: 16px;

        transition: all 500ms;
    }

    #icon-success {
        height: 50px;
        width: 50px;
        background-image: url(assets/images/icon-success.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
}